<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cambio de moneda index</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <form th:action="@{/cambiar}" method="post">
        <label>
            Importe:
            <input name="amount" type="text" placeholder="0.0" required="required"/>
        </label>
        <label>
            Moneda origen:
            <select name="base">
                <option  th:each="moneda:${origen}" th:value="${moneda}" th:text="${moneda}"/>
            </select>

        </label>
        <label>
            Moneda destino:
            <select name="destino">
                <option  th:each="moneda:${destino}" th:value="${moneda}" th:text="${moneda}"/>
            </select>
        </label>
        <input type="submit">
    </form>
</body>
</html>